* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'ArialMT';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/arialmt.ttf');
    }

@font-face {
    font-family: Socialico;
    src: url("fonts/Socialico/Socialico.ttf");
    font-weight: normal;
    font-style:normal;
}

body {
    font-family: 'ArialMT';
    background-color: #ffffff;

}

.container {
    margin: 0 auto;
    width: 1280px;
}

@media screen and (min-width: 768px) {
    .container {
        width: 760px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 980px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1280px;
    }
}


.padding {
    padding: 50px;
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

.productPage {
    background-color: #445162;
}

.productPageDescription {
    display: inline-block;
    float: left;
}

@media screen and (min-width: 768px) {
    .productPageDescription {
        float: none;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .productPageDescription {
        float: left;
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .productPageDescription {
        float: left;
    }
}


.productName {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 28px;
}

.productListDescription {
    list-style: inside url("images/check_icon.png");
}

.productListItem {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 768px) {
    .productImage {
        float: none;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .productImage {
        float: right;
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .productImage {
        float: right;
    }
}

.productInfo {
    background-color: #ffffff;
}

.productInfoText {
    display: inline-block;
    float: left;
}

@media screen and (min-width: 768px) {
    .productInfoText {
        float: none;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .productInfoText {
        float: left;
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .productInfoText {
        float: left;
    }
}

.sectionHeading {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    padding-bottom: 30px;
    text-align: center;
}

header.productAbout .sectionHeading {
    text-align: left;
}

.productAboutDescription {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 20px;
}

.productInfoImage {
    float: right;
    display: inline-block;
}

@media screen and (min-width: 768px) {
    .productInfoImage {
        float: none;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .productInfoImage {
        float: right;
        width: 45%;
    }
}

@media screen and (min-width: 1200px) {
    .productInfoImage {
        float: right;
    }
}

.productPluses {
    background-color: #f5f5f5;
}

.productPlusesList {
    list-style-image: url("images/listimage.png");
    padding-left: 45px;
    column-count: 2;
    column-gap: 60px;
}

.productPlusesListItem {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 35px;
}

.productPlusesListItem p {
    display: inline-block;
    vertical-align: middle;
}

.screenshots {
    background-color: #ffffff;
}

.screnshotsDescription {
    width: 50%;
    display: inline-block;
    float: left;
}

.screenshotItself {
    display: inline-block;
    float: left;
    padding-top: 36px;
    width: 35%;
}

.screenshotInfo {
    padding-top: 34px;
    padding-left: 15px;
    display: inline-block;
    float: left;
    width: 60%;
}
.screenshotName {
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 10px;
}

.screenshotImageDescription {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.reviews {
    background-color: #f5f5f5;
}

.reviewsDisplayed {
    display: inline-block;
    float: left;
    padding-bottom: 24px;
    padding-right: 10px;
}

@media screen and (min-width: 992px) {
    .reviewsDisplayed {
        margin: auto;
        width: 575px;
        display: block;
        float: none;
    }
}

@media screen and (min-width: 1200px) {
    .reviewsDisplayed {
            display: inline-block;
            float: left;
    }
}

.reviewsImage {
    display: inline-block;
    float: left;
    padding-right: 15px;
}

.reviewText {
    width: 483px;
    background-image: url(images/bg_review.svg);
    float: left;
    height: 121px;
    margin-bottom: 24px;
    
}
.reviewItself {
    vertical-align: middle;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-top:10px;
}

.reviewAuthor {
    color: #989898;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding-left: 25px
}

.buyItNow {
    height: 600px;
    background-color: #ffffff;
    position: relative;
}

@media screen and (min-width: 768px) {
    .buyItNow {
        height: 620px;
        padding: 50px 0 50px 0;
    }
}

@media screen and (min-width: 992px) {
    .buyItNow {
        padding: 50px 0 50px 0;
        height: 600px;
    }
}

@media screen and (min-width: 1200px) {
    .buyItNow {
        padding: 50px;
        height: 600px;
    }
}

.buyItNowPlan {
    float: left;
    display: inline-block;
    background-color:#445162;
    width: 300px;
    margin-right: 45px;
    border-radius: 5px;
    position: absolute;
    bottom: 50px;
}

@media screen and (min-width: 768px) {
    .buyItNowPlan {
        width: 250px;
    }
}

@media screen and (min-width: 992px) {
    .buyItNowPlan {
        width: 300px;
    }
}

@media screen and (min-width: 1200px) {
    .buyItNowPlan {
        width: 300px;
    }
}

.standardPlan {
    margin-left: 145px;
    height: 320px;
}

@media screen and (min-width: 768px) {
    .standardPlan {
        margin-left: 0;
        height: 360px;
    }
}

@media screen and (min-width: 992px) {
    .standardPlan {
        margin-left: 15px;
        height: 320px;
    }
}

@media screen and (min-width: 1200px) {
    .standardPlan {
        margin-left: 50px;
        height: 320px;
    }
}

.premiumPlan {
    margin-left: 490px;
    height: 420px;
}

@media screen and (min-width: 768px) {
    .premiumPlan {
        margin-left: 255px;
        height: 480px;
    }
}

@media screen and (min-width: 992px) {
    .premiumPlan {
        margin-left: 335px;
        height: 420px;
    }
}

@media screen and (min-width: 1200px) {
    .premiumPlan {
        margin-left: 440px;
        height: 420px;
    }
}

.luxPlan {
    margin-left: 835px;
    height: 520px;
}

@media screen and (min-width: 768px) {
    .luxPlan {
        margin-left: 510px;
        height: 600px;
    }
}

@media screen and (min-width: 992px) {
    .luxPlan {
        margin-left: 655px;
        height: 520px;
    }
}

@media screen and (min-width: 1200px) {
    .luxPlan {
        margin-left: 840px;
        height: 520px;
    }
}

.buyItNowSectionHeading {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 15px;
}

.buyItNowprice {
    height: 71px;
    border: 2px solid #445162;
    background-color: #ffffff;
    color: #445162;
    font-size: 40px;
    font-weight: 400;
    line-height: 71px;
    text-align: center;
}

.buyItNowList {
    padding-left: 40px;
    padding-top: 20px;
}

.buyItNowListItem {
    width: 242px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

@media screen and (min-width: 768px) {
    .buyItNowListItem {
        width: 225px;
    }
}

@media screen and (min-width: 992px) {
    .buyItNowListItem {
        width: 242px;
    }
}

@media screen and (min-width: 1200px) {
    .buyItNowListItem {
        width: 242px;
    }
}

.buyButton  {
    width: 260px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    color: #445161;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    .buyButton {
        margin-left: 5px;
        width: 240px;
    }
}

@media screen and (min-width: 992px) {
    .buyButton {
        margin-left: 20px;
        width: 260px;
    }
}

@media screen and (min-width: 1200px) {
    .buyButton {
        margin-left: 20px;
        width: 260px;
    }
}

.contacts {
    background-color: #445162;
}

.contacts .sectionHeading {
    color: #ffffff;
    text-transform: capitalize;
}

.contactsForm {
    padding-left: 200px;
    float: left;
}

@media screen and (min-width: 768px) {
    .contactsForm {
        padding-left: 80px;
    }
}

@media screen and (min-width: 992px) {
    .contactsForm {
        padding-left: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .contactsForm {
        padding-left: 200px;
    }
}

.contactsFormField {
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    padding-left: 10px;
    background-color: #ffffff;
    display: block;
    width: 500px;
    font-family: 'ArialMT';
    margin-bottom: 21px;
    border-radius: 5px;
}

#Name #Email {
    height: 40px;
}

#Message {
    height: 170px;
}

#SubmitButton {
    width: 140px;
    height: 40px;
    line-height: 40px;
    color: #445162;
    font-family: 'ArialMT';
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    margin-left: 200px;
}

.socialmedia {
    margin-left: 45px;
    float: left;
}

.socialMediaLink {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.socialMediaLink img {
    vertical-align: middle;
    margin-bottom: 20px;
}

.socialMediaIcons {
    width: 300px;
    margin-top: 30px;
}

.socialMediaLinkIcon {
    color: #ffffff;
    font-family: Socialico;
    font-size: 60px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}



.footerInfo {
    height: 26px;
    background-color: #f5f5f5;
    line-height: 22px;
    font-size: 16px;
    text-align: center;
}
